# Documentos (van a nube privada)
*.docx
*.pdf
*.txt
*.zip
informes/
asesorias/
Poster/

# Temps de Office
~$*
~WRL*

# Dev
node_modules/
.env
programas/

# OS
.DS_Store
Thumbs.db
Thumbs.db:encryptable
